@tailwind base;
@tailwind components;
@tailwind utilities;

.starting-hero{
    
 background-image:url('../../public/starting.webp');

}
@media (max-width: 500px)  {
    .starting-hero{
        background-position: center;
        background-size: cover;
        background-image:url('../../public/starting.webp');
       
       }
  }